.prod__wrapper{
    display: flex;
    gap: 40px;
}
.prod__container{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.prod{
    background: #e8ccba;
    padding-top: 72px;
    padding-bottom: 60px;
}
.prod__left{
    padding: 30px;
    width: 766px;
    height: 608px;
    clip-path: polygon(3% 0, 97% 0, 100% 3%, 100% 97%, 97% 100%, 3% 100%, 0 97%, 0 3%);
    background-color: #fff;
}
.prod__left img{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.prod__right p{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #c09188;
margin-bottom: 4px;
}
.prod__right h3{
    font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #000;
}
.prod__right h4{
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 180%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #000;
margin-bottom: 20px;
}
.prod__right .little{
    clip-path: polygon(17% 0, 81% 2%, 100% 50%, 84% 98%, 15% 100%, 0 49%);
    background-color: black;
    width: 253px;
    height: 44px;
    color: #fff;
}
.modal{
    background-color: #00000052;
    position: fixed;
    inset: 0;
    transform: translateX(2000px);
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.openMODAL{
    transform: translateX(0px);
    transition: 300ms;
}
.modal__wrapper{
    height: 100vh;
    width: 35%;
    background-color: yellow;
}