.searchs{
    padding: 36px 0 50px;
    background-color: #F3E7E0;
}
.search__container{
    max-width: 668px;
    width: 100%;
    margin:  0 auto;
}
.search__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.search__l input{
margin: 0;
width: 314px;
height: 40px;
border: none;
padding-left: 14px;
}
.search__l input::placeholder{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #c09188;
}
.search__r input::placeholder{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #c09188;
}
.search__r input{
margin: 0;
width: 314px;
height: 40px;
border: none;
padding-left: 14px;
}

.search__l p{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1d1d1d;
margin-bottom: 8px;
}
.search__r p{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1d1d1d;
margin-bottom: 8px;
}